body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 300px;
}
img {
    width: 500px;
    height: 500px;
}
header {
   text-align: center;
   margin-bottom: 70px;
}
.article1 {
    border: 2px black solid;
    margin-bottom: 30px;
    padding: 10px 20px;
}
.container {
    display: flex;

}
.child1 {
    border: 2px black solid;
    margin-right: 30px;
    padding: 10px 20px;
}
.child2 {
    border: 2px black solid;
    padding: 10px 20px;
}
footer {
    text-align: center;
    margin-top: 100px;
}
.footer {
    display: flex;
    justify-content: center;
}