/* Add your CSS here */

/* Dont' forget to link this file to your HTML in the <head> */

:root {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    --color: Dark beige: #E6DACD
             Light beige: #F4ECE6
             Royal blue: #0150FD
             Black: #000
             White: #FFF;
}

body {
    font-family: 'Quicksand', sans-serif;
}
main {
    /* background-color: #E6DACD; */
    margin-bottom: 2rem;
    /* background: linear-gradient(
          90deg,
          var(--dark-beige) 50%,
          var(--white) 50%
        ); */
  }


h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 4rem;
}

* {

  box-sizing: border-box;
}

.header-container {
    display: flex;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #00BAF0; */
  background: #fff;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  height: 50px;
  margin-bottom: 1rem;
  padding: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: darkblue;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.card-img {
  border-radius: 50%;
  width: 10rem;
}

.card-aboutme {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  text-align: center;
  padding: 5px 8px;
  /* background-color: #F4ECE6; */
  margin-top: 2rem;
}
.card:hover {
  box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
}
.button1 {
  background-color: #003CFF;
  border-radius: 20px;
  border: 1px solid #003CFF;
  color: #fff;
  padding: 10px 30px;
  font-size: 0.8rem;
}
.button2 {
  background-color: #F4ECE6;
  border-radius: 20px;
  border: 1px solid #000;
  color: #000;
  padding: 10px 30px;
  font-size: 0.8rem;
}
.card-footer {
  background-color: #fff;
  height: 2.8rem;
  margin-top: 3rem;
}
.card-icons {
  margin-top: 1rem;
  margin-right: 1rem;
}
.contact-info {
    font-family: 'Poppins', sans-serif;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000;
}
.contact-name {
  display: flex;
  justify-content: start;
  gap: 3rem;
}
.card-contact {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  text-align: start;
  padding: 2rem 2rem 8rem 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}
#message {
  height: 250px;
}
.card-project {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  text-align: start;
  padding: 2rem 2rem 8rem 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}
.project-img {
  width:100%;
}
.card-resume {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  text-align: start;
  padding: 2rem 2rem 8rem 2rem;
  background-color: #fff;
  margin-bottom: 1rem;
}
.resume-nav {
  display: flex;
  justify-content: space-around;
}
.resume-button {
  background-color: #0150FD;
  color: #fff;
  padding: 0;
  border-radius: 30px;
}
.submit-button {
  background-color: #0150FD;
  color: #fff;
  padding: 7px;
  border-radius: 30px;
  width: 100px;
  border: none;
  margin: 0 70px;
}
form {
  margin-bottom: 1rem;
}
#message {
  height: 250px;
}


@media (max-width: 700px) {

  .header-container {
    display: block;
}
#pm {
    margin-right: 90px;
    margin-bottom: 40px;
}
  .menu-button-container {
    display: flex;
    justify-content: flex-start;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    /* border: 1px solid #333; */
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
.menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #000;
    background-color: #F4ECE6;
}
.menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.card-img {
  border-radius: 50%;
  width: 10rem;
}

.card-aboutme {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  text-align: center;
  padding: 5px 8px;
  background-color: #F4ECE6;
  margin-left: 10px;
}
.card:hover {
  box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
}
.button1 {
  background-color: #003CFF;
  border-radius: 20px;
  border: 1px solid #003CFF;
  color: #fff;
  padding: 10px 30px;
  font-size: 0.8rem;
}
.button2 {
  background-color: #F4ECE6;
  border-radius: 20px;
  border: 1px solid #000;
  color: #000;
  padding: 10px 30px;
  font-size: 0.8rem;
}
.card-footer {
  background-color: #fff;
  height: 2.8rem;
  margin-top: 3rem;
}
.card-icons {
  margin-top: 1rem;
  margin-right: 1rem;
}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.mini-footer {
    display: flex;
    justify-content: space-between;
}
.contact-name {
  display: block;
}

.card-contact {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 85%;
  text-align: start;
  padding: 2rem 2rem 6rem 2rem;
  background-color: #fff;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
  
.card-project {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 65%;
  text-align: start;
  padding: 2rem 2rem 8rem 2rem;
  background-color: #fff;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
  
.card-resume {
  box-shadow: 0px 4 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 65%;
  text-align: start;
  padding: 2rem 2rem 8rem 2rem;
  background-color: #fff;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
  
#message {
  height: 50px;
}
}
