body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/020/933/072/small_2x/abstract-blur-gradient-background-vector.jpg");
    
}

h2 {
    color: white;
    text-align: center;
    margin-top: 12rem;
    font-size: xx-large;
}

#user {
    background-color: white;
    padding: 2rem;
    border-radius: 5rem;
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;  
}


